*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear:both;
}

.container{
  width: 80%;
  margin: 0 auto;
}
/* header */
header{
  height: 40vh;
  margin-bottom: 1vh;
  border: 1px solid black;
}

.logo_menu{
  height: 40%;
  width: 100%;
  background: pink;
}
.header_photo_box{
  height: 60%;
  width: 100%;
  background-color: orange;
}
/* / header */

/* main */
main{
  width: 100%;
  background-color: lightblue;
  margin-bottom: 1vh;
}

.col{
  background-color: blue;
}

.top_box{
  height: 10vh;
  width: 100%;
  margin-bottom: 1vh;
  border-radius: 5px;
  background-color: blue;
}

.box_left,
.box_right{
  float:left;
  height: 50vh;
  width: 20%;
  border-radius: 5px;
}
.box_middle{
  float: left;
  height: 50vh;
  width: 56%;
  margin: 0 2%;
  border-radius: 5px;
}

/* footer */
footer{
  margin-top: 1vh;
  height: 5vh;
  width: 100%;
  background-color: purple;
}
/* / footer */
